<input [nasModel]="store('freeText')" /> <br />
<input type="text" [nasModel]="store('freeText')" /> Text <br />
<input type="search" [nasModel]="store('freeText')" /> Search <br />
<input type="tel" [nasModel]="store('freeText')" /> Tel <br />
<input type="password" [nasModel]="store('freeText')" /> Password <br />
<input type="email" [nasModel]="store('freeText')" /> Email <br />
<input type="url" [nasModel]="store('freeText')" /> Url <br />
<input type="color" [nasModel]="store('freeText')" /> <br />
<textarea [nasModel]="store('freeText')"></textarea> <br />
<button (click)="store('freeText').delete()">Clear</button>

<hr />

<input type="number" [nasModel]="store('number')" /> <br />
<input type="range" [nasModel]="store('number')" />

<hr />

<select [nasModel]="store('chooseOne')">
  <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
</select>
<ng-container *ngFor="let city of cities">
  <br />
  <label>
    <input type="radio" [value]="city" [nasModel]="store('chooseOne')" />
    {{ city }}
  </label>
</ng-container>

<hr />

<select multiple [nasModel]="store('chooseMany')">
  <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
</select>
<br />
<button (click)="chooseToCheck()">v</button>
<button (click)="checkToChoose()">^</button>
<ng-container *ngFor="let city of cities">
  <br />
  <label>
    <input
      type="checkbox"
      [value]="city"
      [nasModel]="store('checkMany')(city)"
    />
    {{ city }}
  </label>
</ng-container>

<hr />

<input type="datetime-local" [nasModel]="store('datetime')" />
<button (click)="propagateDatetime()">datetime-local flush</button> <br />
<input type="date" [nasModel]="store('date')" />
<button (click)="propagateDate()">date flush</button> <br />
<input type="month" [nasModel]="store('month')" />
<button (click)="propagateMonth()">month flush</button> <br />
<input type="week" [nasModel]="store('week')" />
<button (click)="propagateWeek()">week flush</button> <br />
<input type="time" [nasModel]="store('time')" />
<button (click)="propagateTime()">time flush</button>

<hr />

<pre>{{ stateString$ | async }}</pre>
